@import "tailwindcss";

@theme {
  --color-kirby-bg: #FFF0F3;
  --color-kirby-pink-light: #FFB7C5;
  --color-kirby-pink-main: #FF8FAB;
  --color-kirby-pink-dark: #E06C84;
  --color-kirby-white: #FFFFFF;
}

body {
  background-color: var(--color-kirby-bg);
  color: var(--color-kirby-pink-dark);
  font-family: Arial, Helvetica, sans-serif;
}
